body {
	background-color: #e1e5ed;
}

.title{
	margin: 0 auto;
	height: 80px;
	width: 400px;
}

.header{
	margin: 0 auto;
	height: 50px;
	width: 400px;
	padding: 10px 0 0 0;
	display: block;
}

button, #colors {
	height: 40px;
	width: 100px;
	border-radius: 10px;
	background-color: orange;
	color: black;
	border: 5px solid blue;
}

#pickColor {
	float: left;
}
#pickSize {
	float: right;
}

.container {
	margin: 0 auto;
	height: 600px;
	width: 600px;
	border: 3px solid black;
	display: block;
	text-align: center;
}

.tile {
	padding: 0px;
	margin: 0px;
	float: left;
}

h1 {
	text-align: center;
	text-shadow: 0px 1px 1px #4d4d4d;
	color: #222;
	font: 40px 'LeagueGothicRegular';
}

.grey {
	background-color: grey !important;
}
.black {
	background-color: black !important;
}
.blue {
	background-color: blue !important;
}
.red {
	background-color: red !important;
}
.yellow {
	background-color: yellow !important;
}